@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
  /* height: 100vh;
  width: 100%; */
  background-color: #1d3557;
  /* align-items: center;
  justify-content: center; */
}

#logo {
  width: 10em;
  animation: rotation 2s infinite linear;
  margin: auto;
}

#logo:hover {
  cursor: pointer;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-div {
  display: flex;
  justify-content: space-around;
  /* padding-top: 4em; */
}

#nav-logo {
  width: 6em;
}

.nav-btn {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-family: 'VT323', monospace;
  font-size: 2em;
  color: #8ecae6;
  text-transform: uppercase;
}

#mini-me {
  width: 6em;
  padding: 2em;
}

.intro-text {
  font-family: 'VT323', monospace;
  font-size: 2.5em;
  color: #8ecae6;
}

.intro-div {
  display: inline-block;
}

.animation-container {
  display: inline-block;
}

.type-my-name {
  font-family: 'VT323', monospace;
  color: #8ecae6;
  overflow: hidden;
  border-right: 0.1em solid #8ecae6;
  width: 0;
  margin-bottom: 1em;
  white-space: nowrap;
  animation: typing 10s steps(15, end) infinite,
             blink .85s infinite;
}

@keyframes typing {
  0% { width: 0 }
  20% {width: 100%}
  40% {width: 100%}
  50% { width: 100% }
  75% { width: 100% }
  90% {width: 100%}
  100% { width: 0 }
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: #8ecae6; }
}


